<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://www.w3schools.com/howto/img_avatar.png" />
      </ion-avatar>
      <ion-label>
        <h1>Oreyne</h1>
        <p>Gathered: <span class="money">$15.00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pick-up-call status="hold" updateAt="02/04/201 14:33:22" createdAt="01/04/201 14:33:22"
    notes="We have two bags tha are full, one with plastic and the other with glasses">
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer>SEE ALL...</ion-button>
  </app-pick-up-call>

  <ion-fab vertical="bottom" horizontal="end" slot=fixed>
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
